.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;700&display=swap');
body {
    background-color: hsl(212, 45%, 89%);
    width: 1440px;
    font-family: [Outfit];
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contaier {
 
    margin-top: 100px;
    padding: 30px;
    width: 280px;
    background-color:  hsl(0, 0%, 100%);
    border-radius: 10px;
}
.img {
    width: 280px;
    border-radius: 10px;
}
h1 {
    font-size: 25px;    
}
p {
    font-size: 15px;
    text-align: center; 
    color: hsl(220, 15%, 55%);
}